In [14]:
import pandas as pd
import numpy as np

#Load the data
df = pd.read_csv('Climate_data_till_2017.csv')
print(df.head())
print(df.info())

                 SUBDIVISION  YEAR   JAN    FEB   MAR    APR    MAY    JUN  \
0  Andaman & Nicobar Islands  1901  49.2   87.1  29.2    2.3  528.8  517.5
1  Andaman & Nicobar Islands  1902   0.0  159.8  12.2    0.0  446.1  537.1
2  Andaman & Nicobar Islands  1903  12.7  144.0   0.0    1.0  235.1  479.9
3  Andaman & Nicobar Islands  1904   9.4   14.7   0.0  202.4  304.5  495.1
4  Andaman & Nicobar Islands  1905   1.3    0.0   3.3   26.9  279.5  628.7

     JUL    AUG    SEP    OCT    NOV    DEC  ANNUAL     JF    MAM    JJAS  \
0  365.1  481.1  332.6  388.5  558.2   33.6  3373.2  136.3  560.3  1696.3
1  228.9  753.7  666.2  197.2  359.0  160.5  3520.7  159.8  458.3  2185.9
2  728.4  326.7  339.0  181.2  284.4  225.0  2957.4  156.7  236.1  1874.0
3  502.0  160.1  820.4  222.2  308.7   40.1  3079.6   24.1  506.9  1977.6
4  368.7  330.5  297.0  260.7   25.4  344.7  2566.7    1.3  309.7  1624.9

     OND
0  980.3
1  716.7
2  690.6
3  571.0
4  630.8
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4188 entries, 0 to 4187
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SUBDIVISION  4188 non-null   object
 1   YEAR         4188 non-null   int64
 2   JAN          4184 non-null   float64
 3   FEB          4185 non-null   float64
 4   MAR          4182 non-null   float64
 5   APR          4184 non-null   float64
 6   MAY          4185 non-null   float64
 7   JUN          4183 non-null   float64
 8   JUL          4181 non-null   float64
 9   AUG          4184 non-null   float64
 10  SEP          4182 non-null   float64
 11  OCT          4181 non-null   float64
 12  NOV          4177 non-null   float64
 13  DEC          4178 non-null   float64
 14  ANNUAL       4162 non-null   float64
 15  JF           4182 non-null   float64
 16  MAM          4179 non-null   float64
 17  JJAS         4178 non-null   float64
 18  OND          4175 non-null   float64
dtypes: float64(17), int64(1), object(1)
memory usage: 621.8+ KB
None

In [16]:
df['JAN'].fillna('')
df['FEB'].fillna('')
df['MAR'].fillna('')
df['APR'].fillna('')
df['MAY'].fillna('')
df['JUN'].fillna('')
df['JUL'].fillna('')
df['AUG'].fillna('')
df['SEP'].fillna('')
df['OCT'].fillna('')
df['NOV'].fillna('')
df['DEC'].fillna('')

0        33.6
1       160.5
2       225.0
3        40.1
4       344.7
        ...
4183     26.7
4184     62.3
4185    159.0
4186     74.7
4187    160.1
Name: DEC, Length: 4188, dtype: object

In [19]:
months = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC']
for month in months:
    df[month] = pd.to_numeric(df[month], errors='coerce')
df['ANNUAL'] = df[months].sum(axis=1, skipna=True)
df['ANNUAL_Missing'] = df[months].isnull().sum(axis=1)

In [20]:
print(df.head())

                 SUBDIVISION  YEAR   JAN    FEB   MAR    APR    MAY    JUN  \
0  Andaman & Nicobar Islands  1901  49.2   87.1  29.2    2.3  528.8  517.5
1  Andaman & Nicobar Islands  1902   0.0  159.8  12.2    0.0  446.1  537.1
2  Andaman & Nicobar Islands  1903  12.7  144.0   0.0    1.0  235.1  479.9
3  Andaman & Nicobar Islands  1904   9.4   14.7   0.0  202.4  304.5  495.1
4  Andaman & Nicobar Islands  1905   1.3    0.0   3.3   26.9  279.5  628.7

     JUL    AUG    SEP    OCT    NOV    DEC  ANNUAL     JF    MAM    JJAS  \
0  365.1  481.1  332.6  388.5  558.2   33.6  3373.2  136.3  560.3  1696.3
1  228.9  753.7  666.2  197.2  359.0  160.5  3520.7  159.8  458.3  2185.9
2  728.4  326.7  339.0  181.2  284.4  225.0  2957.4  156.7  236.1  1874.0
3  502.0  160.1  820.4  222.2  308.7   40.1  3079.6   24.1  506.9  1977.6
4  368.7  330.5  297.0  260.7   25.4  344.7  2566.7    1.3  309.7  1624.9

     OND  ANNUAL_Missing
0  980.3               0
1  716.7               0
2  690.6               0
3  571.0               0
4  630.8               0

In [23]:
#cheacking the annual data after cleaning and modifying the dataset

print(df.isnull().sum())

SUBDIVISION        0
YEAR               0
JAN                4
FEB                3
MAR                6
APR                4
MAY                3
JUN                5
JUL                7
AUG                4
SEP                6
OCT                7
NOV               11
DEC               10
ANNUAL             0
JF                 6
MAM                9
JJAS              10
OND               13
ANNUAL_Missing     0
dtype: int64

In [24]:
jan_feb = ['JAN','FEB']
for month in jan_feb:
        df[month] = pd.to_numeric(df[month], errors='coerce')
df['JF'] = df[jan_feb].sum(axis=1, skipna=True)
df['JF_Missing'] = df[jan_feb].isnull().sum(axis=1)

In [25]:
mar_apr_may = ['MAR','APR', 'MAY']
for month in mar_apr_may:
        df[month] = pd.to_numeric(df[month], errors='coerce')
df['MAM'] = df[mar_apr_may].sum(axis=1, skipna=True)
df['MAM_Missing'] = df[mar_apr_may].isnull().sum(axis=1)

In [26]:
JJAS_data = ['JUN','JUL','AUG','SEP']
for month in JJAS_data:
        df[month] = pd.to_numeric(df[month], errors='coerce')
df['JJAS'] = df[JJAS_data].sum(axis=1, skipna=True)
df['JJAS_Missing'] = df[JJAS_data].isnull().sum(axis=1)

In [27]:
OND_data = ['OCT', 'NOV', 'DEC']
for month in OND_data:
        df[month] = pd.to_numeric(df[month], errors='coerce')
df['OND'] = df[OND_data].sum(axis=1, skipna=True)
df['OND_Missing'] = df[OND_data].isnull().sum(axis=1)

In [28]:
print(df.isnull().sum())

SUBDIVISION        0
YEAR               0
JAN                4
FEB                3
MAR                6
APR                4
MAY                3
JUN                5
JUL                7
AUG                4
SEP                6
OCT                7
NOV               11
DEC               10
ANNUAL             0
JF                 0
MAM                0
JJAS               0
OND                0
ANNUAL_Missing     0
JF_Missing         0
MAM_Missing        0
JJAS_Missing       0
OND_Missing        0
dtype: int64

In [31]:
#Export the new and filtered data as CSV
df.to_csv('processed_rainfall_data.csv', index=False)